body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.Orange{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width: 60%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font weight: 700;
    border-radius: 5px;
}
.top{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.topp{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Anis{
     background-image: url(exp-bg.png);
     background-repeat: no-repeat;
     background-position: left;
}
.experiences{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(red, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}